@model List<Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Skills</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Skill List</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            You can show and rebuild your skills here !
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    
                                    <th scope="col">Value</th>                                                                   
                                    <th scope="col">Delete</th>
                                    <th scope="col">Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                     
                                        <td>@item.Title</td>
                                        <td>@item.Value</td>
                                        <td><a href="/Skill/DeleteSkill/@item.SkillId" class="btn btn-danger">Delete</a></td>
                                        <td><a href="/Skill/UpdateSkill/@item.SkillId" class="btn btn-success">Update</a></td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                        <a href="/Skill/AddNewSkill/" class="btn btn-info">Add New Skill</a>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

