@model ToDoList
@{
    ViewData["Title"] = "UpdateToDoList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">ToDo</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Update Your Things</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <input type="hidden" asp-for="ToDoListId" />
                            <label>Title</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Date</label>
                            <input type="date" asp-for="Date" class="form-control" />
                            <br />
                            <label>Image Url</label>
                            <input type="text" asp-for="ImageURL" class="form-control" />
                            <br />

                            <button class="btn btn-success">Update To Do</button>


                        </form>


                    </div>
                </div>


            </div>

        </div>
    </div>
</div>