@model List<Message>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Messages</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Message List</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            You can answer you messages!
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Sender Name Surname</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Edit Message</th>
                                    <th scope="col">Statu</th>
                                    <th scope="col">Delete</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.MessageId</td>
                                        <td>@item.NameSurname</td>
                                        <td>@item.Subject</td>
                                        <td>@item.SendDate.ToShortDateString()</td>
                                        <td><a href="/Message/MessageDetail/@item.MessageId" class="btn btn-warning">Edit Message</a></td>
                                        @if (item.IsRead == true)
                                        {
                                            <td><a href="/Message/ChangeIsReadToFalse/@item.MessageId" class="btn btn-success">Mark as Unreaded</a></td>
                                        }
                                        else
                                        {
                                            <td><a href="/Message/ChangeIsReadToTrue/@item.MessageId" class="btn btn-danger">Mark as Readed</a></td>
                                        }
                                        <td><a href="/Message/DeleteMessage/@item.MessageId" class="btn btn-danger">Delete</a></td>
                                        
                                    </tr>

                                }

                            </tbody>
                        </table>
                        
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
