<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Ömer Faruk Işık
                        <span class="user-level">Admin</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="#profile">
                                <span class="link-collapse">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#edit">
                                <span class="link-collapse">Edit Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#settings">
                                <span class="link-collapse">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a href="index.html">
                    <i class="la la-dashboard"></i>
                    <p>Dashboard</p>

                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index">
                    <i class="la la-home"></i>
                    <p>Go Website</p>

                </a>
            </li>
            <li class="nav-item">
                <a href="components.html">
                    <i class="la la-globe"></i>
                    <p>About Me</p>

                </a>
            </li>
            <li class="nav-item">
                <a href="/ToDoList/Index/">
                    <i class="la la-bell"></i>
                    <p>ToDo List</p>

                </a>
            </li>
            <li class="nav-item">
                <a href="/Experience/ExperienceList">
                    <i class="la la-apple"></i>
                    <p>Experiences</p>

                </a>
            </li>
            <li class="nav-item">
                <a href="tables.html">
                    <i class="la la-info"></i>
                    <p>Information</p>

                </a>
            </li>
            <li class="nav-item">
                <a href="/Contact/Index">
                    <i class="la la-bell"></i>
                    <p>Contact</p>

                </a>
            </li>
            <li class="nav-item">
                <a href="/Portfolio/">
                    <i class="la la-certificate"></i>
                    <p>Portfolio</p>

                </a>
            </li>
            <li class="nav-item">
                <a href="/Skill/Index/">
                    <i class="la la-mortar-board"></i>
                    <p>My Skills</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/References/TestimonialList">
                    <i class="la la-commenting"></i>
                    <p>References</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/SocialMedia/Index">
                    <i class="la la-external-link-square"></i>
                    <p>Social Medias</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Message/Inbox">
                    <i class="la la-envelope-o"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Statistic/Index">
                    <i class="la la-bar-chart"></i>
                    <p>Statistics</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="">
                    <i class="la la-sign-out"></i>
                    <p>SignOut</p>
                </a>
            </li>

        </ul>
    </div>
</div>